#modal-comp {
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: showModal .2s forwards
}
@keyframes showModal {
    from {
      opacity: 0;
      transform: scale(0.7);
    }

     to {
      opacity: 1;
      transform: scale(1);
    }
}

.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    width: 44rem;
    border-radius: 1rem;
    background: #252424;
    box-shadow: 0rem 0rem 1rem rgba(37, 38, 41, 0.12);
    padding: 1.5rem 1.5rem;
    color: white;
}

.dialog:focus {
    outline: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.modal-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-weight: 600;
}

.close {
    width: 1.5rem;
    height: 1.5rem;
}

.modal-btn {
    background: #DCFAFB;
    color: #8f8f8f;
    font-size: 20px;
    padding: 16px;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(37, 38, 41, 0.12);
    display: flex;
    justify-content: center;
}

.icon {
    width: 20px;
}

.clickable:hover {
    cursor: pointer;
}

.iframe {
    height: 14rem;
    width: 70%;
}

.tag-list {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-right: 24px;
    position: relative;
    color: #adadad;
}

.tag-list:after {
    position: absolute;
    right: -16px;
    top: 0;
    content: "/";
}

.tag-list:last-child {
    margin-right: 0;
}

.tag-list:last-child::after {
    display: none;
}


@media (max-width: 700px) {
    .dialog {
        position: fixed;
        left: 50%;
        top: 53%;
        right: auto;
        transform: translate(-50%, -50%);
        width: 90%;
        border-radius: 1rem;
        background: #252424;
        box-shadow: 0rem 0rem 1rem rgba(37, 38, 41, 0.12);
        padding: 1rem 01rem;
        color: white;
    }
    .description{
        height: 100px;
        overflow-y: scroll;
    }
}
