
.header .btn-solid-lg:hover {
	border: 1px solid #ffffff;
	color: #ffffff;
}

.header .btn-outline-lg {
	padding: 1.625rem 1.625rem 1.625rem 1.625rem;
	border: none;
	color: #ffffff;
}

.header .btn-outline-lg:hover {
	background: transparent;
	color: #9c9ead;
	text-decoration: none;
}

.header .btn-outline-lg .fas {
	margin-right: 0.375rem;
}

