body,
html {
	width: 100%;
	height: 100%;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.blue {
	color: #2259ec;
}
.white {
	color: #ffffff;
}

.bg-gray {
	background-color: #f7f9fb;
}

.section-divider {
	display: block;
	height: 1px;
	margin: 0;
	border: none;
	background-color: #d3dae2;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0b36a8;
	background-color: #0b36a8;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #0b36a8;
	/* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0b36a8;
	background-color: #0b36a8;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #0b36a8;
	/* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #24262a;
	background-color: transparent;
	color: #24262a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #24262a;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #24262a;
	background-color: transparent;
	color: #24262a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #24262a;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #24262a;
	background-color: transparent;
	color: #24262a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #24262a;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.5rem;
	color: #7d838a;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.375rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus+.label-control,
.form-control-input.notEmpty+.label-control,
.form-control-textarea:focus+.label-control,
.form-control-textarea.notEmpty+.label-control {
	top: 0.125rem;
	color: #4d5055;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block;
	/* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	background-color: #ffffff;
	color: #4d5055;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;

}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #7d838a;
}

select {
	/* you should keep these first rules in place to maintain cross-browser behavior */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-image: url('./images/down-arrow.png');
	background-position: 96% 50%;
	background-repeat: no-repeat;
	outline: none;
}

.form-control-textarea {
	display: block;
	/* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem;
	/* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.3125rem;
	border: 1px solid #cbcbd1;
	background-color: #ffffff;
	color: #4d5055;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none;
	/* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #0b36a8;
	border-radius: 32px;
	background-color: #0b36a8;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #24262a;
	background-color: transparent;
	color: #24262a;
}

.pointer {
	cursor: pointer;
}

.font-1 {
	font-size: 1.5rem;
}

.font-2 {
	font-size: 1rem;
}

.left{
	text-align: left;
}
/* FONTS */
@font-face {
	font-family: "Play";
	src: local('Play'), url("./Fonts/Play-Regular.ttf") format('woff');
}

.Play {
	font-family: Play;
}

@font-face {
	font-family: "BerkshireSwash";
	src: local('BerkshireSwash'), url("./Fonts/BerkshireSwash-Regular.ttf") format('woff');
}

.BerkshireSwash {
	font-family: BerkshireSwash;
}

@font-face {
	font-family: "Merienda";
	src: local('Merienda'), url("./Fonts/Merienda-VariableFont_wght.ttf") format('woff');
}

.Merienda {
	font-family: Merienda;
}

@font-face {
	font-family: "Alegreya";
	src: local('Alegreya'), url("./Fonts/Alegreya-Regular.ttf") format('woff');
}

.Alegreya {
	font-family: Alegreya;
}

@font-face {
	font-family: "Holden";
	src: local('Holden'), url("./Fonts/Holden-Medium-trial.ttf") format('woff');
}

.Holden {
	font-family: Holden;
}

@font-face {
	font-family: "lmromanslant10";
	src: local('lmromanslant10'), url("./Fonts/lmromanslant10-regular.otf") format('woff');
}

.lmromanslant10 {
	font-family: lmromanslant10;
}

@font-face {
	font-family: "TechnaSans";
	src: local('TechnaSans'), url("./Fonts/TechnaSans-Regular.otf") format('woff');
}

.TechnaSans {
	font-family: TechnaSans;
}


@font-face {
	font-family: "prototype";
	src: local('prototype'), url("./Fonts/Prototype.ttf") format('woff');
}

.prototype {
	font-family: prototype;
}


@font-face {
	font-family: "montserrat";
	src: local('montserrat'), url("./Fonts/Montserrat-Regular.ttf") format('woff');
}

.montserrat {
	font-family: montserrat;
}


@font-face {
	font-family: "blenda";
	src: local('blenda'), url("./Fonts/Blenda\ Script.otf") format('woff');
}

.blenda {
	font-family: blenda;
}


@font-face {
	font-family: "timeline";
	src: local('timeline'), url("./Fonts/Timeline.ttf") format('woff');
}

.timeline {
	font-family: timeline;
}


@font-face {
	font-family: "Poppins";
	src: local('Poppins'), url("./Fonts/Poppins-Light.ttf") format('woff');
}

.Poppins {
	font-family: Poppins;
}

@font-face {
	font-family: "Platypi";
	src: local('Platypi'), url("./Fonts/Platypi-VariableFont_wght.ttf") format('woff');
}

.Platypi {
	font-family: Platypi;
}

@font-face {
	font-family: "Mukta";
	src: local('Mukta'), url("./Fonts/Mukta-Regular.ttf") format('woff');
}

.Mukta {
	font-family: Mukta;
}